@import "tailwindcss";

:root {
  --brand-green: #24c626;
  --foreground-light: #000000;
  --background-light: #ffffff;
  --foreground-dark: #ffffff;
  --background-dark: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: var(--foreground-dark);
    --background: var(--background-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: var(--foreground-light);
    --background: var(--background-light);
  }
}

[data-theme='light'] {
  --foreground: var(--foreground-light);
  --background: var(--background-light);
}

[data-theme='dark'] {
  --foreground: var(--foreground-dark);
  --background: var(--background-dark);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
